.container {
    width: 80%;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(300px, 400px));
    grid-gap: 1rem;
}

.grid-item {
    background: #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

@media (max-width: 500px) {
    .grid-wrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, minmax(300px, 400px));
    }
    .grid-item {
        margin: 5px;
    }
}