.infos--center {
    display: flex;
    justify-content: center;
}

.infos--container {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 30vh;

    margin-top: 15px;
    padding: 15px 0 15px 0;
}

.infos--container .infos--photo img {
    width: 200px;
    height: 200px;

    border-radius: 100px;
    background: #cdcdcd;

    margin-right: 25px;
}

.infos--username {
    font-size: 40px;
    font-weight: lighter;
}

.infos--flex,
.infos--publications,
.infos--followers {
    display: flex;
    margin-right: 20px;
    margin-top: -20px;
}

.infos--publications h2,
.infos--followers h2 {
    font-weight: lighter;
}

.infos--publications h2:nth-child(1),
.infos--followers h2:nth-child(1) {
    font-weight: 600;
    margin-right: 5px;
}

@media (max-width: 750px) {
    .infos--container .infos--photo img {
        width: 135px;
        height: 135px;
    }
    .infos--flex {
        font-size: 15px;
        flex-direction: column;
        padding-top: 10px;
    }    
    .infos--username {
        font-size: 25px;
    }
    .infos--followers {
        margin-top: -35px;
    }
}