.infos--center {
    display: flex;
    justify-content: center;
}

.infos--container {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 30vh;

    margin-top: 15px;
    padding: 15px 0 15px 0;
}

.infos--container .infos--photo img {
    width: 200px;
    height: 200px;

    border-radius: 100px;
    background: #cdcdcd;

    margin-right: 25px;    
}

.infos--username {
    font-size: 30px;
    font-weight: lighter;

    display: inline-block;
}

input[type="submit"] {
    display: inline-block;

    padding: 8px 25px 8px 25px;
    margin-left: 15px;

    border: 0;
    border-radius: 5px;

    background: #3787f0;
    color: #fff;
    font-weight: bold;

    cursor: pointer;
}

.infos--flex {
    padding-top: 15px;
}

.infos--flex,
.infos--publications,
.infos--followers {
    display: flex;
    margin-right: 20px;
    margin-top: -20px;

    font-size: 13px
}

.infos--publications h2,
.infos--followers h2 {
    font-weight: lighter;
}

.infos--publications h2:nth-child(1),
.infos--followers h2:nth-child(1) {
    font-weight: 600;
    margin-right: 5px;
}

@media (max-width: 750px) {
    .infos--container .infos--photo img {
        width: 135px;
        height: 135px;
    }
    .infos--flex {
        font-size: 15px;
        flex-direction: column;
        padding-top: 10px;
    }    
    .infos--username {
        font-size: 25px;
    }
    .infos--followers {
        margin-top: -35px;
    }
}